body{
    font-family: 'Stylish', sans-serif;
}

.container{
    display: flex;
    overflow: hidden;
    height: 625px;
}

.container-satu{
    background: url(../img/bali.jpg);
    background-repeat: no-repeat;
    width: 20px 20px;
    background-size: cover;
    padding: 30px 70px;
    flex: 2;
}

.header{
    display: flex;
    background: transparent;
    justify-content: space-between;
    
}

a{
    text-decoration: none;
    color: black;
}

.header.satu img{
    width: 73.72px;
    height: 70px;
}

.header.satu ul{
    width: 500px;
    display: flex;
}

.header.satu ul li{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.semi-explore{
    margin-top: 100px;
}

.lokasi div img{
    width: 80px;
    height: 80px;
}

.lokasi{
    display: flex;
    width: 230px;
    justify-content: space-between;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.semi-explore h2{
    font-family: 'Satisfy', cursive;
    font-size: 67.76px;
    color: white;
    margin: auto 0;
}

.semi-explore p{

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;

    color: #FFFFFF;

    mix-blend-mode: hard-light;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.tombol{
    background-color: white;
    width: 150px;
    height: 45px;
    display: flex;
    border-radius: 25px;
    margin: 20px 0;
}

.tombol a{
    text-align: center;
    margin: auto;
}

.gallery{
    display: flex;
    box-sizing: border-box;
    width: 60%;
    margin: 16px 0;
    justify-content: space-between;
}

.box{
    width: 140px;
    height: 110px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 40px;
}

.gallery .satu{
    background-image: url(../img/bali.jpg);
    background-size: cover;
    border-radius: 40px;
    display: flex;
}

.gallery .dua{
    background-image: url(../img/yogyakarta.jpg);
    background-size: cover;
    border-radius: 40px;
    display: flex;
}

.gallery .tiga{
    background-image: url(../img/lombok.jpg);
    background-size: cover;
    border-radius: 40px;
    display: flex;
}

.box a{
   text-align: center;
   margin: auto;
   font-size: 25px;
   color: white;
   font-family: 'Satisfy', cursive;
}

.container-dua{
    flex: 1;
    background-image: url(../img/bg.jpg);
    padding: 30px 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.profil{
    display: flex;
    margin-bottom: 30px;
}

.profil img{
    width: 73.72px;
    height: 70px;
    border-radius: 50px;
}

.nama-akun{
    display: flex;
    width: 100px;
}

.nama-akun a{
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.kategori{
    display: flex;
    margin: auto;
}

.kategori div{
    width: 100%;
    background-color: #CD5702;
    height: 40px;
    border-radius: 50px;
    display: flex;
}

.kategori div a, .jenis div a{
    margin: auto;
}

.jenis{
    display: flex;
    margin-bottom: 20px;
}

.jenis div{
    width: 50%;
    height: 30px;
    border-radius: 50px;
    display: flex;
    border: white solid 3px;
}

select{
    display: block;
}

label{
    display: block;
    margin: 25px auto 0;
}


label span{
    font-size: 14px;
    font-weight: 600;
}

input, option{
    display: block;
    width: 100%;
    border: none;
}

.inputan div{
    height: 40px;
    background-color:  #CD5702;
    width: 120px;
    border-radius: 40px;
    display: flex;
    left: 280px;
    position: relative;
}

.inputan div a{
    text-align: center;
    margin: auto;
}
