body{
    font-family: 'Stylish', sans-serif
}

.container-satu{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 130px;
    display: flex;
}

.header{
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: space-between;
    margin: auto;
}

.header img{
    width: 60px;
    height: 60px;
    margin: auto 0;
}

.header ul li{
    display: flex;
    height: 100%;
    width: 250px;
    justify-content: space-between;
}

.header ul li a{
    text-decoration: none;
    margin: auto 0;
    color: black;
}

.container-dua{
    width: 1000px;
    margin: 50px auto;
}

.container-dua h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.container-dua h6{
    font-size: 14px;
}

.box{
    border: black solid 3px;
    margin: 10px 0;
    display: flex;
}

.kotak-satu{
    flex: 3;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kotak-satu img{
    width: 50px;
    height: 50px;
}

.baris-satu, .baris-dua{
    justify-content: space-between;
    width: 80%;
}

.baris-satu h5{
    font-size: 18px;
}

.baris-dua h5{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.baris-tiga h5{
    color: #0118E8;
    font-size: 10px;
    margin-right: 90px;
}

.kotak-dua{
    flex: 1;
    padding: 40px 0;
    box-sizing: border-box;
}

.kotak-dua h4{
    color: #CD5702;
    font-size: 17px;
    margin-bottom: 20px;
}

.kotak-dua div a{
    text-decoration: none;
    margin: auto;
    color: black;
}

.kotak-dua div{
    background-color: #CD5702;
    width: 130px;
    height: 40px;
    display: flex;
}

.kotak{
    width: 100%;
}

.baris-satu, .baris-dua, .baris-tiga{
    display: flex;
}



