body{
    font-family: 'Stylish', sans-serif;;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 130px;
    padding: 0 90px ;
}

.header img{
    width: 60px;
    height: 60px;
    margin: auto 0;
}

.header ul li{
    display: flex;
    height: 100%;
    width: 250px;
    justify-content: space-between;
}

.header ul li a{
    text-decoration: none;
    margin: auto 0;
    color: black;
}

.container{
    width: 75%;
    margin: 50px auto;
    height: 500px;
    display: flex;
}

.sidebar{
    flex: 1;
    padding: 40px 0 40px 40px;
    background-image: url(../img/bg.jpg);
}

.akun{
    display: flex;
}

.akun img{
    width: 50px;
    border-radius: 40px;
}

.akun h3{
    margin: auto 10px;
    font-size: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    line-height: 40px;
}

.satu, .dua, .tiga, .empat, .logout{
    margin-bottom: 10px;
    height: 40px;
}

.satu:hover{
    background-color: white;
}

.dua:hover{
    background-color: white;
}

.tiga:hover{
    background-color: white;
}

.empat:hover{
    background-color: white;
}

.logout:hover{
    background-color: white;
}

.halaman{
    border: black solid 2px;
    flex: 3;
}

.box{
    border: black solid 1px;
    width: 80%;
    margin: 70px auto;
}

.kotak{
    display: flex;
    margin: 10px;
    width: 70%;
}

.box h3{
    font-size: 18px;
    margin: 10px;
}

.logo{
    flex: 1;
    margin-top: 11px;
}

.logo img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    right: 10px;
}
.keterangan{
    flex: 4;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.keterangan div{
    display: flex;
}

.status h2{
    margin-top: 30px;
    font-size: 20px;
}

.keterangan div h6{
    margin-left: 30px;
    font-size: 15px;
}

.tombol{
    width: 100px;
    height: 30px;
    background-color: #CD5702;
    display: flex;
    margin: 10px;
}

.tombol a{
    color: black;
    text-decoration: none;
    margin: auto;
    bottom: 5px;
    position: relative;
}
