body{
    font-family: 'Stylish', sans-serif
}

.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 130px;
    padding: 0 90px ;
}

.header img{
    width: 60px;
    height: 60px;
    margin: auto 0;
}

.header ul li{
    display: flex;
    height: 100%;
    width: 250px;
    justify-content: space-between;
}

.header ul li a{
    text-decoration: none;
    margin: auto 0;
    color: black;
}

.semi-container{
    display: flex;
    height: 80%;
}

.container{
    width: 75%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    position: relative;
}

.side-bar{
    flex: 1;
    background-image: url(../img/bg.jpg);
}

.side-bar div{
    margin: 50px 30px;
}

.side-bar div input{
    margin: 15px 5px;
}

.side-bar div label{
    color: white;
}

.menu{
    flex: 3;
    border: black solid 3px;
}

.kotak a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.tombol{
    background-color: khaki;
}

.kotak{
    border: black solid 2px;
    margin: 20px;
    height: 30px;
}

.satu:hover{
    background-color: #CD5702;
}

.dua:hover{
    background-color: #CD5702;
}

.tiga:hover{
    background-color: #CD5702;
}

.empat:hover{
    background-color: #CD5702;
}

.keterangan ul li{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.lima{
    display: flex;
    height: 130px;
    padding: 0 5px 10px;
    box-sizing: border-box;
}

.keterangan{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    flex: 1;
    margin-top: 11px;
}

.logo img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    right: 10px;
}

.tombol{
    width: 100px;
    height: 30px;
    background-color: #CD5702;
    display: flex;
    margin: 40px;
    position: absolute;
    right: -40px;
    bottom: 0;
}

.tombol a{
    margin: auto;
    color: black;
    text-decoration: none;
}